/* VARIABLES */ /* MIXINS */ /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
@font-face {
  font-family: "Ibarra Real Nova";
  font-weight: 400;
  src: url("../fonts/ibarra-real-nova-v20-latin-regular.woff2") format("woff2"), url("../fonts/ibarra-real-nova-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-weight: 400;
  src: url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff");
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font-family: "Public Sans", "Arial", sans-serif;
  font-weight: 400;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-x: clip;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* === HEADER PART === */
.site-header {
  padding-top: 32px;
  padding-bottom: 40px;
  position: relative;
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__menu-btn {
  background-image: url("../images/menubtn.svg");
  width: 24px;
  height: 13px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
}

.sitenav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.sitenav {
  display: none;
}

.sitenav-on .sitenav {
  position: absolute;
  padding: 40px 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  top: 80%;
  right: 3%;
  background-color: #33323D;
}

.site-body {
  overflow: hidden;
}

.sitenav-on .sitenav__item {
  margin-right: 0;
  margin-bottom: 32px;
  z-index: 1;
}

.sitenav-on .site-header__menu-btn {
  background-image: url("../images/x-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.sitenav-on .sitenav__link {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.sitenav-on .sitenav__link--active {
  color: #fff;
}

.sitenav-on .site-header__menu-btn {
  background-image: url("../images/x-icon.svg");
}

/* MEDIA TABLET  */
@media only screen and (min-width: 660px) {
  .site-header {
    padding-top: 64px;
    padding-bottom: 47px;
  }
  .sitenav-on .sitenav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 100%;
  }
  .sitenav-on .sitenav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sitenav-on .sitenav__item {
    margin: 0;
    margin-bottom: 0x;
  }
  .sitenav-on .sitenav__link {
    font-family: "Public Sans";
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: left;
    color: #33323D;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .sitenav-on .sitenav__link--active {
    color: #5FB4A2;
  }
  .site-header__menu-btn {
    display: none;
  }
  .sitenav {
    display: block;
  }
  .sitenav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sitenav__item:not(:last-child) {
    margin-right: 42px;
  }
  .sitenav__link {
    font-family: "Public Sans";
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: left;
    color: #33323D;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .sitenav__link--active {
    color: #5FB4A2;
  }
}
/* MEDIA DESKTOP */
@media only screen and (min-width: 1000px) {
  .site-header {
    padding-bottom: 54px;
  }
}
/* ==== HERO === */
.hero {
  padding-bottom: 96px;
}

.hero__bg {
  background-image: url("../images/hero-mobilebg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 271px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero__bg {
    background-image: url("../images/hero-mobilebg@2x.png");
  }
}

.hero__topic-box {
  width: 100%;
  max-width: 300px;
}

.hero__topic {
  margin-bottom: 32px;
  font-family: "Ibarra Real Nova", "Times New Roman", serif;
  font-style: normal;
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  text-align: left;
  color: #33323D;
  letter-spacing: -0.357143px;
}

.hero__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__link {
  margin-left: 48px;
  position: relative;
  padding: 16px 20px;
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: right;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  background-color: #203A4C;
}

@media only screen and (min-width: 400px) {
  .hero__bg {
    height: 350px;
  }
}
@media only screen and (min-width: 500px) {
  .hero__bg {
    height: 400px;
  }
}
@media only screen and (min-width: 600px) {
  .hero__bg {
    height: 450px;
  }
}
/* MEDIA TABLET  */
@media only screen and (min-width: 660px) {
  .hero__bg {
    position: relative;
    background-image: url("../images/tablet-hero.png");
    width: 100%;
    height: 600px;
  }
}
@media only screen and (min-width: 660px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 660px) and (min-device-pixel-ratio: 2), only screen and (min-width: 660px) and (min-resolution: 192dpi), only screen and (min-width: 660px) and (min-resolution: 2dppx) {
  .hero__bg {
    background-image: url("../images/tablet-hero@2x.png");
  }
}
@media only screen and (min-width: 660px) {
  .hero__topic-box {
    padding: 56px 73px 0 0;
    max-width: 514px;
    position: absolute;
    bottom: -98px;
    left: 20px;
    background-color: #FAFAFA;
  }
}
@media only screen and (min-width: 730px) {
  .hero__bg {
    background-position-y: calc(50% - 16px);
  }
}
@media only screen and (min-width: 1000px) {
  .hero {
    padding-bottom: 150px;
  }
  .hero__bg {
    background-image: url("../images/desktop-hero.png");
  }
}
@media only screen and (min-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1000px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1000px) and (min-resolution: 192dpi), only screen and (min-width: 1000px) and (min-resolution: 2dppx) {
  .hero__bg {
    background-image: url("../images/desktop-hero@2x.png");
  }
}
@media only screen and (min-width: 1000px) {
  .hero__topic-box {
    width: 100%;
    max-width: 446px;
    top: 366px;
    left: calc(50% - 486px);
    z-index: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .hero__topic {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
  }
}
@media only screen and (min-width: 1000px) {
  .hero__link:hover {
    background-color: #5FB4A2;
  }
}
/* === ABOUT ME SECTION === */
.about {
  padding-bottom: 115px;
}

.about__img {
  width: 100%;
  padding-bottom: 32px;
  z-index: 1;
}

.about__content {
  padding-top: 32px;
  padding-bottom: 46px;
  border-top: 1px solid #DDDDDE;
  border-bottom: 1px solid #DDDDDE;
}

.about__topic {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
  color: #33323D;
  letter-spacing: -0.357143px;
}

.about__text {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: #33323D;
  color: #000;
  opacity: 0.8;
}

.about__link {
  padding: 17px 36px 17px 32px;
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  color: #33323D;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #33323D;
}

/* MEDIA TABLET */
@media only screen and (min-width: 660px) {
  .about {
    padding-bottom: 96px;
  }
  .about__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__img-box {
    width: 10%;
    margin-right: 0;
    padding-bottom: 0;
  }
  .about__img {
    width: 77%;
    height: 703px;
    padding-bottom: 0;
  }
  .about__content {
    width: 60%;
  }
}
@media only screen and (min-width: 681) {
  .about__img {
    height: 683px;
  }
}
@media only screen and (min-width: 1000px) {
  .about__content {
    width: 100%;
    max-width: 350px;
  }
  .about__topic {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
  }
  .about__link {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .about__link:hover {
    color: #fff;
    background-color: #33323D;
  }
}
/* === ARTICLE PART === */
.interested {
  padding-bottom: 80px;
}

.interested__content {
  text-align: center;
}

.interested__topic {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Ibarra Real Nova", "Times New Roman", serif;
  font-style: normal;
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
  color: #33323D;
  letter-spacing: -0.357143px;
}

.interested__link {
  padding: 17px 35px 17px 32px;
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  color: #33323D;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #33323D;
}

.interested__line {
  width: 18%;
  min-width: 50px;
  max-width: 534px;
  height: 1px;
  background-color: #DDDDDE;
  display: none;
}

/* MEDIA TABLET */
@media only screen and (min-width: 660px) {
  .interested {
    padding-bottom: 96px;
  }
  .interested__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .interested__topic-box {
    width: 100%;
    max-width: 335px;
  }
  .interested__topic {
    margin-bottom: 0;
    text-align: start;
  }
  .interested__line {
    display: block;
  }
}
@media only screen and (min-width: 830px) {
  .interested__line {
    width: 30%;
  }
}
/* MEDIA DESKTOP */
@media only screen and (min-width: 1000px) {
  .interested__line {
    width: 45%;
  }
  .interested__link {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .interested__link:hover {
    color: #fff;
    background-color: #33323D;
  }
}
/* === CONTACT PGE GET SECTION === */
.get {
  padding-bottom: 32px;
}

.get__box {
  padding-top: 24px;
  padding-bottom: 32px;
  border-top: 1px solid #DDDDDE;
  border-bottom: 1px solid #DDDDDE;
}

.get__topic {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Ibarra Real Nova", "Times New Roman", serif;
  font-style: normal;
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  text-align: start;
  color: #33323D;
  letter-spacing: -0.357143px;
}

.get__text {
  margin: 0;
  margin-bottom: 24px;
  font-family: " Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #33323D;
  opacity: 0.8;
}

.get__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.get__item:not(:last-child) {
  margin-right: 15px;
}

.get__link {
  color: #33323D;
  background-color: transparent;
}

/* === MEDIA DESKTOP === */
@media only screen and (min-width: 1000px) {
  .get {
    padding-bottom: 47px;
  }
  .get__box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 48px 0;
  }
  .get__topic {
    width: 40%;
  }
  .get__content {
    width: 60%;
  }
}
/* === CONTACT FORM SECTION === */
.contact {
  padding-bottom: 80px;
}

.contact__topic {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Ibarra Real Nova", "Times New Roman", serif;
  font-style: normal;
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  text-align: start;
  color: #33323D;
  letter-spacing: -0.357143px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #33323D;
}

.contact__input {
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 9px 16px;
  width: 100%;
  background-color: #EAEAEB;
  border: 1px solid transparent;
  outline: none;
}
.contact__input::-webkit-input-placeholder {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #9E9EA4;
  opacity: 0.4;
}
.contact__input::-moz-placeholder {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #9E9EA4;
  opacity: 0.4;
}
.contact__input:-ms-input-placeholder {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #9E9EA4;
  opacity: 0.4;
}
.contact__input::-ms-input-placeholder {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #9E9EA4;
  opacity: 0.4;
}
.contact__input::placeholder {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #9E9EA4;
  opacity: 0.4;
}
.contact__input:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 1px solid #F43030;
}
.contact__input:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 1px solid #F43030;
}
.contact__input:not(:placeholder-shown):not(:focus):invalid {
  border: 1px solid #F43030;
}
.contact__input:not(:-moz-placeholder-shown):not(:focus):invalid + .contact__input-error {
  opacity: 1;
}
.contact__input:not(:-ms-input-placeholder):not(:focus):invalid + .contact__input-error {
  opacity: 1;
}
.contact__input:not(:placeholder-shown):not(:focus):invalid + .contact__input-error {
  opacity: 1;
}
.contact__input:focus {
  border: 1px solid #5FB4A2;
}

.contact__textarea {
  width: 100%;
  height: 96px;
  padding: 9px 16px;
  background-color: #EAEAEB;
  resize: none;
  border: 1px solid transparent;
  outline: none;
}
.contact__textarea::-webkit-input-placeholder {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #9E9EA4;
  opacity: 0.4;
}
.contact__textarea::-moz-placeholder {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #9E9EA4;
  opacity: 0.4;
}
.contact__textarea:-ms-input-placeholder {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #9E9EA4;
  opacity: 0.4;
}
.contact__textarea::-ms-input-placeholder {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #9E9EA4;
  opacity: 0.4;
}
.contact__textarea::placeholder {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
  color: #9E9EA4;
  opacity: 0.4;
}
.contact__textarea:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 1px solid #F43030;
}
.contact__textarea:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 1px solid #F43030;
}
.contact__textarea:not(:placeholder-shown):not(:focus):invalid {
  border: 1px solid #F43030;
}
.contact__textarea:not(:-moz-placeholder-shown):not(:focus):invalid + .contact__input-error {
  opacity: 1;
}
.contact__textarea:not(:-ms-input-placeholder):not(:focus):invalid + .contact__input-error {
  opacity: 1;
}
.contact__textarea:not(:placeholder-shown):not(:focus):invalid + .contact__input-error {
  opacity: 1;
}
.contact__textarea:focus {
  border: 1px solid #5FB4A2;
}

.contact__input-error {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: italic;
  font-size: 10px;
  line-height: 12px;
  font-weight: 700;
  text-align: left;
  color: #F43030;
  opacity: 0;
}

.contact__btn {
  width: 100%;
  max-width: 200px;
  padding: 17px 24px;
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  background-color: #203A4C;
}

/* MEDIA DESKTOP */
@media only screen and (min-width: 1000px) {
  .contact {
    padding-bottom: 109px;
  }
  .contact__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .contact__topic {
    width: 40%;
  }
  .contact__form {
    width: 60%;
  }
  .contact__btn {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .contact__btn:hover {
    background-color: #5FB4A2;
  }
}
/* ==== FOOTER ==== */
.site-footer {
  padding: 56px 0;
  background-color: #33323D;
}

.site-footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-footer__inner {
  text-align: center;
  margin-bottom: 40px;
}

.site-footer__logo {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 40px;
}

.site-footer__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-footer__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-footer__link {
  font-family: "Public Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.site-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-footer__social-item:not(:last-child) {
  margin-right: 15px;
}

/* === MEDIA TABLET === */
@media only screen and (min-width: 660px) {
  .site-footer {
    padding: 24px 0;
  }
  .site-footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
  .site-footer__logo {
    margin-right: 48px;
    margin-bottom: 0;
  }
  .site-footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-footer__item:not(:last-child) {
    margin-right: 42px;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */