/* === ABOUT ME SECTION === */
.about {
    padding-bottom: 115px;
}

.about__img {
padding-bottom: 32px;
}

.about__img{
    width:100%;
}

.about__content {
    padding-top: 32px;
    padding-bottom: 46px;
    border-top: 1px solid #DDDDDE;
    border-bottom: 1px solid #DDDDDE;
}

.about__topic {
    margin: 0;
    margin-bottom: 28px;
    font-family: 'Ibarra Real Nova';
    @include typography-styles(normal, 40px, 42px, 700, center, $main-textcolor);
    letter-spacing: -0.357143px;
}

.about__text {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Public Sans';
    @include typography-styles(normal, 16px, 30px, 400, $main-textcolor);
    mix-blend-mode: normal;
    opacity: 0.8;
}

.about__link {
    padding: 17px 36px 17px 32px;
    font-family: 'Public Sans';
    @include typography-styles(normal, 12px, 14px, 400, center, $main-textcolor);
    @include link-unstyle;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid $main-textcolor;
}




@include mobile-first(660px) {
    .about {
        padding-bottom: 96px;
    }

    .about__box {
        display: flex;
        justify-content: flex-start;
    }

    .about__img-box{
        width: 10%;
        margin-right: 125px;
        padding-bottom: 0;
    }

    .about__img{
        width: 77%;
        height: 683px;
    padding-bottom: 0;
    }

    .about__content {
        width: 60%;
    }

}

@include mobile-first(1000px) {
    .about__content {
        width: 100%;
        max-width: 350px;
    }

    .about__topic {
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px
    }

    .about__link {
        transition: all 0.4s ease;

        &:hover {
            color: #fff;
            background-color: $main-textcolor;
        }
    }
}