/* ==== FOOTER ==== */
.site-footer {
    padding: 56px 0;
    background-color: $main-textcolor;
}

.site-footer__box {
    @include flexbox(center, center, column);
}

.site-footer__inner {
    text-align: center;
    margin-bottom: 40px;
}

.site-footer__logo {
    @include link-unstyle;
    margin-bottom: 40px;
}

.site-footer__list {
    @include list-unstyle;
}

.site-footer__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.site-footer__link {
    font-family: "Public Sans", "Arial", sans-serif;
    @include typography-styles(normal, 12px, 14px, 400, center, #fff);
    letter-spacing: 2px;
    text-transform: uppercase;
    @include link-unstyle;
}

.site-footer__social-list {
    @include flexbox(center, center, row);
    @include list-unstyle;
}

.site-footer__social-item {
    &:not(:last-child) {
        margin-right: 15px;
    }
}

/* === MEDIA TABLET === */
@include mobile-first(660px) {
    .site-footer {
        padding: 24px 0;
    }
    
    .site-footer__box {
        @include flexbox(space-between, center, row);
    }
    
    .site-footer__inner {
        @include flexbox(flex-start, center);
        margin-bottom: 0;
    }
    
    .site-footer__logo {
        margin-right: 48px;
        margin-bottom: 0;
    }
    
    .site-footer__list {
        @include flexbox(flex-start, center, row);
    }
    
    .site-footer__item {
        &:not(:last-child) {
            margin-right: 42px;
            margin-bottom: 0;
        }
    }
}